@using QLSPNhom2.ViewModel
@model CategoryViewModel
<h1>Thêm mới danh mục sản phẩm</h1>

<form asp-action="Create" asp-controller="Category" method="post">
    <div class="mb-3">
        <label class="form-label">Tên Danh Mục<span class="text-danger">*</span></label>
        <input asp-for="Request.Name" required class="form-control"  type="text" placeholder="Nhập tên danh mục" />
    </div>
    <div>
        <a class="btn btn-secondary me-3" asp-action="Index" asp-controller="Category"><i class="fa-solid fa-arrow-left"></i>Quay Lại</a>
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Đồng Ý</button>
    </div>
</form>